/* CSS developed for the START Biofeedback Project
 * Student: Helen Carey
 * NYU School of Engineering */

/*
PALETTE
   black/gray: #4d4d4d; /* text gray */
/* white: #ffffff;
/* whiteBlue: #F0F9FC; /* white-blue */
/* lightBlue: #C5F3FF; /* light blue */
/* mainBlue: #53C8E9; /* main blue */
/* teal: #0FABC1; /* teal */
/* darkBlue: #018B9D; /* dark blue */
/* yellow: #FFC95F; /* yellow */
/* light yellow: #FFECCB; /* light yellow */
/* tan: #F9CDA5; /* tan */


/* =====================================================================
    GLOBAL SYLES 
 ===================================================================== */
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    background-color: transparent; 
}

/*
body, html {
    border-radius: 0;
}
*/


.bold {
    font-weight: 600;
}


.highlight {
    font-weight: 600;
    color: #0FABC1; /* teal */
}

/* in WWW
.blueBox {
    background-color: #C5F3FF; /* light blue 
}
*/


a:link, a:visited, a:hover {
    text-decoration: none;
    color: #4d4d4d; /* text gray */
}

/* =====================================================================
    DOCUMENT SETUP
 ===================================================================== */

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


body {
    position: relative;
    overflow-x: hidden; 
    /* HTML WEB VIEW: Turn this OFF for the live iPad version */
    
        top: 15px;
        height: 748px;
        width: 1024px;
        margin: 0 auto;

    /*iPAD VIEW: Turn ON for live version */    
    /*
        height: 100%;
        min-height: 748px;
        width: 100%;
        min-width: 1024px;
    */
    /*border: 1px solid blue; */
}


#container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 4px;
    
    color: #4d4d4d; /* text gray */
    font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 400;

    /*border: 1px solid red;*/
}

/* TEST Style - currently inactive */
/*
#iPad {
    position: absolute;
    height: 768px;
    width: 1024px;
    left: 0px;
    top: 0px;
    border: 3px solid #666;
    z-index: 0;
}*/

/* =====================================================================
    CONTENT DIVS
 ===================================================================== */

#mainContent {
    position: relative;
    float: left;
    top: 0px;
    width: 100%;
    height: 100%;

    /*border: 1px solid blue;*/
}

/* =====================================================================
    CONTENT DIVS: Page Header
 ===================================================================== */

.row {  /* Used in page header and textbox */
    position: relative;
    height: 106.85px;  /*14.28%;*/
    width: 1024px; /*100%*/
    padding-left: 177px; /*17.23%; or displayWidth-leftNav */
    border-bottom: 2px solid white;
}

#pageHeader {
    background-color: #C5F3FF; /* lightBlue */
    /*border: 1px solid green; */
}

div#pageHeader h1 {
    position: relative;
    display: block;
    float: left;
    font-size: 3.5em;
    width: 70%;
    letter-spacing: 2px;
    margin-top: 10px;
    /*border: 1px solid red; */
}

 #name{
    position: relative;
    float: right;
    margin-right: 9%;
    margin-top: 20px;

    padding: 0.6em;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    font-size: 1.35em;
    font-weight: 900;
    text-align: center;
    color: #4D4D4D; /* text gray */
    background-color: #53C8E9; /* mainBlue */
    box-shadow: 1px 0px 2px #d3d3d3;
    
    /*border: 1px solid #999; */
 }
    

.btnPressed {
    -webkit-animation-name: btnPressed;
    animation-name: btnPressed;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

    @-webkit-keyframes btnPressed {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    @keyframes btnPressed {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }


/* =====================================================================
    CONTENT DIVS: Textbox
 ===================================================================== */

#textbox {   
    color: #4d4d4d; /* text gray */
    font-size: 1em;
    font-weight: 400;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    text-align: left;
    /*border: 1px solid pink;*/
}


div#textbox p {
    width: 75%;
    padding-top:3.5%;
    /*border: 1px solid green;*/
} 

 /* =====================================================================
    CONTENT DIVS: Bottom
 ===================================================================== */

#bottomDiv {
    overflow: hidden;
    
    /*border: 1px solid pink;
    border-bottom: 0;*/
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.btnPressed {
  -webkit-animation-name: btnPressed;
  animation-name: btnPressed;
}

    @-webkit-keyframes btnPressed {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    @keyframes btnPressed {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

.btn{
        height: 75px;
        width: 250px;
        margin-top: 25px;
        color: #fff;
        font-size: 1.9em;
        font-weight: 700;
        padding: 20px;
        background-color: #FFC95F; /* yellow */
        text-align: center;
        font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
}

.debugBtn{
        height: 50px;
        width: 150px;
        float: right;
        margin-top: 25px;
        color: #fff;
        font-size: 1.9em;
        font-weight: 700;
        padding: 5px;
        background-color: #FFC95F; /* yellow */
        text-align: center;
        font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
}
