/* CSS developed for the START Biofeedback Project
 * Student: Helen Carey
 * NYU School of Engineering */

/*
PALETTE
black/gray: #4d4d4d; /* text gray */
/* white: #ffffff;
/* whiteBlue: #F0F9FC; /* white-blue */
/* lightBlue: #C5F3FF; /* light blue */
/* mainBlue: #53C8E9; /* main blue */
/* teal: #0FABC1; /* teal */
/* darkBlue: #018B9D; /* dark blue */
/* yellow: #FFC95F; /* yellow */
/* light yellow: #FFECCB; /* light yellow */
/* tan: #F9CDA5; /* tan */



/* =====================================================================
    LPC BLOCK
 ===================================================================== */
#lpcBlock {
    position: relative;
    width: 770px;
    height: 427.4px; /*410px;*/
    left: 177px;
    border-bottom: 2px solid white;
    background-color: transparent; 
    /*border: 1px solid orange; */
}

#lpcContainer {
    position: relative;
    width:100%;
    height:100%;
    margin: 0;
    padding:0;
    background-color: transparent; /**/
    border-radius: 4px;
    border: 15px solid  #F0F9FC; /* white-blue */
}

/* =====================================================================
    LPC STATS BAR
 ===================================================================== */

#lpcHead {
    position: relative;
    width:740px;
    height:66px;
    /*margin: 2% 2% 1% 2%;*/
    z-index: 20;
    background-color: #F0F9FC; /* white-blue */
    padding-top: 5px;
    /*border: 1px solid pink; */
}


#lpcHead1, #lpcHead2 {
    position: relative;
    float:left;
    height: 100%;
    width: 50%;
    /*border: 1px solid lightBlue; */
}

#lpcHead1 {
    width: 80%;
    font-size: 1.3em;
    /*padding-top:0.5em;*/
}

#lpcHead2 {
    width: 20%;
}


/* Clear F3 Target Btn */
#clear{
    position: relative;
    float: right;
    height: 48px;
    width: 80px;
    padding: 0.2em;
    
    font-size: 0.95em;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #fff;

    border-radius: 4px;
    border: 2px solid white;
    background-color: #53C8E9; /* main blue */
    z-index: 99;
    /*border: 1px solid white; */
}


#stats{
    position: relative;
    height: 30px;
    width: 740px;
    background: #53C8E9;
    z-index: 99;
    padding: 5px 10px;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;*/
    /*border-left: 15px solid #F0F9FC; /* white-blue */
    /*border-right: 15px solid #F0F9FC; /* white-blue */
    /*border: 1px solid blue;*/
}


/* display alignment for valF1-valF3 */
#stats>div {
    float: left;
    width: 33%;
    text-align: center;
    z-index: 20;
    /*border: 1px solid white;*/
}


/* display for valF1-valF3 */
#stats>div>p>span {
    padding: 0px 5px;
    color: #C5F3FF;
    font-weight: 600;
    z-index: 20;
}



/* =====================================================================
    LPC WAVE
 ===================================================================== */
#lpc {
    position: relative;
    width: 740px;
    height: 300px; /*76%;*/
    float: left;
    /*margin: 0% 2% 2% 2%;*/
    border-radius: 0px;
    /*border: 1px solid red;*/
}


#wave {
    width: 740px; /*width: 100%;*/
    height: 240px;
    /*background-color: transparent;*/
    background-color: #C5F3FF; /* light blue*/ 
    z-index: 2;
    /*border: 1px solid green;*/
}

canvas {
    height: 240px;
    width: 740px; /*width: 100%;*/
    border-radius: 0px;
    /*border: 1px solid red; */
}


#sand {
    position: relative;
    width: 740px; /*width: 100%;*/
    height: 62px;
    background-color: #FFECCB; /* light yellow */
    border-radius: 0px;
    padding-top: 10px solid #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
    /*border: 1px solid red; */
}

/* div to hold the F3val elements*/
    #sand1 {
        position: relative;
        width: 33.33%;
        height: 100%;
        /*border: 3px solid orange; */
    }


    #sandText>label {
        position: relative;
        min-height: 25px;
        float: left;
        margin-top: 20px;
        margin-left: 15px;
        text-align: center;
        /*border: 1px solid red; */
    }

    #sandText>span {
        position: relative;
        min-height: 25px;
        width: 65px;
        float: left;
        margin-top: 15px;
        margin-left: 10px;
        text-align: center;
        /* border: 1px solid white; */
    }


    #TvalF3 {
        background-color: white;
        border: 3px solid white;
        border-radius: 4px;
        padding-left: 6px;
        padding-right: 6px;
        text-align: center;
        /*border: 1px solid red; */
    }


/* div to hold the slider elements*/
    #sand2 {
        position: absolute; 
        left: 258px;
        top: 10px;
        float: right;
        width: 65%;
        height: 100%;
        z-index: 10;
        /*border: 1px solid red; */
    }

    .slider {
      border-radius: 25px;
      width: 87%;
      margin-top: 15px;
      margin-left: 10px;
      position: absolute;
      height: 20px;
      background: #FFECCB; /* light yellow */
      border: none;
      z-index: 10;
      /*border: 1px solid red; */
    }


    .handle .ui-slider-handle {
      position: absolute;
      z-index: 10;
      width: 60px;
      cursor: pointer;
      background: url("../_img/slider-star2.svg") no-repeat;
      height: 297px;
      top: -265px;
      border: none;
      /*border: 1px solid green;*/
    }