/*PALETTE
/* black/gray: #4d4d4d; /* text gray */
/* white: #ffffff;
/* whiteBlue: #F0F9FC; /* white-blue */
/* lightBlue: #C5F3FF; /* light blue */
/* mainBlue: #53C8E9; /* main blue */
/* teal: #0FABC1; /* teal */
/* darkBlue: #018B9D; /* dark blue */
/* yellow: #FFC95F; /* yellow */
/* light yellow: #FFECCB; /* light yellow */
/* tan: #F9CDA5; /* tan */


html {
    background-color: #fff;
    color: #4d4d4d; /* text gray */
    font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
}


body {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0;
    /* HTML WEB VIEW: Turn this OFF for the live iPad version */
    top: 15px;
    height: 768px;
    width: 1024px;
    margin: 0 auto;
    overflow-x: hidden; 
}


.stage {
    z-index: 50;
}



#frame {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 768px;
    width: 1026px;
    border: 5px solid #fff;
    border-radius: 5px;
    left: -1px;
    z-index: 100;
}



form {
    display: block;
    opacity: 0.0;
    position: absolute;
    /*position: relative;
    margin: 0 auto;*/
    height: 275px;
    width: 350px;
    top: 490px;
    left: 337px;
    /*border: 1px solid white;*/
    z-index: 100;
}

form>input {
        display: block;
        position: relative;
        height: 55px;
        width: 300px;
        margin: 0 auto;
        margin-top: 15px;
        padding: 10px;
        text-align: center; 
        border-radius: 45px;
        text-align: center;
        font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
        color: #c8c8c8;
        font-size: 1.75em;
        font-weight: 700;
        background-color: #fff;
        border: 0;
    }

.btn, .input-submit {
    height: 75px;
    width: 250px;
    margin-top: 25px;
    color: #fff;
    font-size: 1.9em;
    font-weight: 700;
    padding: 20px;
    background-color: #FFC95F; /* yellow */
    text-align: center; 
    font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
}
/*
.btn:hover {
        background-color: #e79b4c; 
}
*/



