/* CSS developed for the staRt Biofeedback Project, DAT Fall 2014
 * NYU School of Engineering */

/*

PALETTE
black/gray: #4d4d4d; /* text gray */
/* white: #ffffff;
/* whiteBlue: #F0F9FC; /* white-blue */
/* lightBlue: #C5F3FF; /* light blue */
/* mainBlue: #53C8E9; /* main blue */
/* teal: #0FABC1; /* teal */
/* darkBlue: #018B9D; /* dark blue */
/* yellow: #FFC95F; /* yellow */
/* light yellow: #FFECCB; /* light yellow */
/* tan: #F9CDA5; /* tan */


/* =====================================================================
    GLOBAL SYLES 
 ===================================================================== */
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}


.bold {
    font-weight: 600;
}

.highlight {
    font-weight: 600;
    color: #0FABC1; /* teal */
}


.blueBox {
	background-color: transparent;
    /* background-color: #C5F3FF; /* light blue */
}


a:link, a:visited, a:hover {
    text-decoration: none;
    color: #4d4d4d; /* text gray */
}

.row {
    position: relative;
    height: 106.85px;  /*14.28%;*/
    width: 1024px; /*100%*/
    padding-left: 177px; /*17.23%; or displayWidth-leftNav */
    border-bottom: 2px solid white;
}

/* =====================================================================
    DOCUMENT SETUP
 ===================================================================== */

html {
    text-rendering: optimizeLegibility;
        /*Text-rendering allows the browser to choose quality of text over 
        speed of render, making your text look nicer.*/
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    /* background-color:  #222; */
}


body {
    position: relative;
    /* HTML WEB VIEW: Turn this OFF for the live iPad version */
        top: 15px;
        height: 748px;
        width: 1024px;
        margin: 0 auto;
/*
    height: 100%;
    min-height: 748px;
    width: 100%;
    min-width: 1024px;
    */

    overflow-x: hidden; 

    /*border: 1px solid blue; */
}


#container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    /* background-color: #ffffff; */
    border-radius: 4px;
    
    color: #4d4d4d; /* text gray */
    font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 400;

    /*border: 1px solid red;*/
}

/* TEST Style - currently inactive */
#iPad {
    position: absolute;
    height: 768px;
    width: 1024px;
    left: 0px;
    top: 0px;
    border: 3px solid #666;
    z-index: 0;
}


/* =====================================================================
    CONTENT DIVS
 ===================================================================== */

#mainContent {
    position: relative;
    float: left;
    top: 0px;
    width: 100%;
    height: 100%;

    /*border: 1px solid blue;*/
}

/* =====================================================================
    CONTENT DIVS: Page Header
 ===================================================================== */

#pageHeader {
	/* background-color: transparent; */
    background-color: #C5F3FF; /* lightBlue */
    padding-top: 2.5%;
    /*border: 1px solid green; */
}

div#pageHeader h1 {
    position: relative;
    float: left;
    font-size: 2.5em;
    width: 75%;
    /*border: 1px solid red; */
}

 #name{
    position: relative;
    float: right;
    margin-right: 8%;
    margin-top: 1%;

    padding: 0.6em;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
    color: #4D4D4D; /* text gray */
    /* background-color: transparent; */
    background-color: #53C8E9; /* mainBlue */
    
    /*border: 1px solid #999; */
 }


/* =====================================================================
    CONTENT DIVS: Textbox
 ===================================================================== */

#textbox {   
    color: #4d4d4d; /* text gray */
    font-size: 1em;
    font-weight: 400;
    font-family: 'Quicksand','Helvetica Neue', sans-serif;
    text-align: left;

    /*border: 1px solid pink;*/
}


div#textbox p {
    width: 75%;
    padding-top:3.5%;

    /*border: 1px solid green;*/
} 

 /* =====================================================================
    CONTENT DIVS: Bottom
 ===================================================================== */

#bottomDiv {
    overflow: hidden;
    
    /*border: 1px solid pink;
    border-bottom: 0;*/
}

.btn{
		height: 75px;
		width: 250px;
		margin-top: 25px;
		color: #fff;
		font-size: 1.9em;
		font-weight: 700;
		padding: 20px;
		background-color: #FFC95F; /* yellow */
		text-align: center;
		font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
}

.debugBtn{
        height: 50px;
        width: 150px;
        float: right;
        margin-top: 25px;
        color: #fff;
        font-size: 1.9em;
        font-weight: 700;
        padding: 5px;
        background-color: #FFC95F; /* yellow */
        text-align: center;
        font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
}
